{
  "printWidth": 120,
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "jsxBracketSameLine": true
}
