// stylelint-disable declaration-no-important

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//
// common
//
.mt-30 {
  margin-top: 30px !important;
}

.mb-2r {
  margin-bottom: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mx-1r {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-0 {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border-color: #eee;
  border-width: 1px 0 0 0;
  border-style: dashed;
}

.h-100 {
  height: 100%;
}

.h-100v {
  height: 100vh;
}

//
// padding
//
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-5 {
  padding: 5px;
}

.p-20 {
  padding: 20px;
}

.py-2r {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pt-2r {
  padding-top: 2rem;
}

//
// Button
//
.el-button-block {
  width: 100%;
}

//
// a
//
a {
  text-decoration: none;
  color: $theme-a-color;
}

a:active,
a:hover {
  outline: 0;
}

a:focus,
a:hover {
  color: lighten($theme-a-color, 20%);
  text-decoration: underline;
}

//
// Text
//
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  @include text-truncate();
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-italic {
  font-style: italic !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-break {
  word-wrap: break-word !important;
}

.text-reset {
  color: inherit !important;
}

.text-muted {
  color: #909399;
}

//
// List
//
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

//
// position
//
.p-r {
  position: relative;
}

//
// image
//
img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

//
// flex
//
.order-2 {
  order: 2;
}
