@import './variables';
@import './assets/element-ui-build/mixins';
@import '/node_modules/element-theme-chalk/src/mixins/_button';

.el-button--normal {
  border-color: transparent;
  background: 0 0;
  padding-left: 0;
  padding-right: 0;
  color: #666666;

  &:focus,
  &:active,
  &:hover {
    color: #666666;
    border-color: transparent;
    background-color: transparent;
  }
}

.el-button--medium {
  padding-left: 15px;
  padding-right: 15px;
}

.el-button {
  @include m(dark) {
    @include button-variant($--button-dark-font-color, $--button-dark-background-color, $--button-dark-border-color);
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.pass {
    background-color: transparent;
  }

  .iconfont {
    font-size: 12px;
  }
}

.el-button-block {
  width: 100%;
}

.el-button--icon {
  width: 30px;
  height: 30px;
  padding: 0;
}

.el-link {
  &.block {
    display: block;
    width: 100%;
  }
}

.el-dialog__header {
  border-bottom: 1px solid #dcdfe6;
  text-align: left;
  padding: 10px 20px;

  .el-dialog__headerbtn {
    top: 14px;
  }
}

.el-input__inner[type='number'] {
  padding-right: 1px !important;
}

.el-tooltip__popper.is-light {
  border-color: $--border-color-base;
  border-radius: 2px;

  &[x-placement^='top'] .popper__arrow {
    border-top-color: $--border-color-base;
  }
}

.el-menu-center {
  display: flex;
  align-items: center;

  .feather,
  [class^='el-icon-'] {
    width: 20px;
    font-size: 14px;
  }

  .feather {
    margin-right: 5px;
    text-align: center;
  }
}

.el-submenu.el-dropdown > .el-submenu__title {
  border-bottom-color: transparent;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 92, 100);

  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(67, 74, 80);

    .el-submenu__icon-arrow {
      transform: rotateZ(180deg);
    }
  }
}

.app-dropdown-menu {
  background-color: #545c64;

  &.el-popper[x-placement^='bottom'] {
    margin-top: 5px;
  }

  .el-dropdown-menu__item {
    color: rgb(255, 255, 255);
    background-color: rgb(84, 92, 100);
    padding: 4px 25px;

    &:hover {
      color: rgb(255, 255, 255);
      background-color: #434a50;
    }
  }
  .el-dropdown-menu__item--divided::before {
    background-color: transparent;
  }
}

// 按实际大小显示
.el-col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

// 平分剩下的空间
.el-col-equal {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

// 占满一行，其他会换行
.el-col-full {
  flex: 1 1 100%;
}

// 这个可以使平分的换行
.el-col-100 {
  width: 100%;
}

.el-column--flex {
  flex-direction: column;
}

.el-dropdown-info {
  background-color: $--color-info;
  color: $--color-white;

  &[x-placement^='bottom'] .popper__arrow::after {
    border-bottom-color: $--color-info;
  }

  /* stylelint-disable no-descending-specificity */
  .el-dropdown-menu__item {
    color: $--color-white;

    &:hover,
    &:focus {
      background: mix($--color-white, $--color-info, $--button-hover-tint-percent);
      border-color: mix($--color-white, $--color-info, $--button-hover-tint-percent);
      color: $--color-white;
    }
  }
}

.el-form_error_rl {
  .el-form-item__error {
    position: relative;
  }
}

.form-inline .el-form-item {
  margin-bottom: 0;
}

.el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px;
}

.el-tag.el-tag--dark {
  background-color: #505050;
  border-color: #696969;
  color: #b3b3b3;
  line-height: 1;
  height: auto;
  display: inline;
}

.el-popover {
  border-radius: 2px;
}

.el-form-item_content_full .el-form-item__content {
  width: 100%;
}
