/* 改变 icon 字体路径变量，必需 */
//$--font-path: '~element-ui/lib/theme-chalk/fonts';
//$--border-radius-base: 0;
//$--card-border-radius: 0;
//
//@import '~element-ui/packages/theme-chalk/src/index';

@import '../element-variables';
@import '../theme/index.css';
@import './node_modules/element-theme-chalk/src/mixins/mixins';
@import './node_modules/element-theme-chalk/src/mixins/_button';
@import './variables';

.el-button--normal {
  //@extend .el-button--text;
  border-color: transparent;
  background: 0 0;
  padding-left: 0;
  padding-right: 0;
  color: #666666;

  &:focus,
  &:active,
  &:hover {
    color: #666666;
    border-color: transparent;
    background-color: transparent;
  }
}

.el-button {
  @include m(dark) {
    @include button-variant($--button-dark-font-color, $--button-dark-background-color, $--button-dark-border-color);
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.pass {
    background-color: transparent;
  }
}

.el-dialog__header {
  border-bottom: 1px solid #dcdfe6;
  text-align: left;
}

.el-input__inner[type='number'] {
  padding-right: 1px !important;
}

.el-tooltip__popper.is-light {
  border-color: $--border-color-base;
  border-radius: 2px;

  &[x-placement^='top'] .popper__arrow {
    border-top-color: $--border-color-base;
  }
}

.el-success {
  color: $--color-success;
}

// 按实际大小显示
.el-col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

// 平分剩下的空间
.el-col-equal {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

// 占满一行，其他会换行
.el-col-full {
  flex: 1 1 100%;
}

// 这个可以使平分的换行
.col-100 {
  width: 100%;
}

.el-dropdown-info {
  background-color: $--color-info;
  color: $--color-white;
  &[x-placement^='bottom'] .popper__arrow::after {
    border-bottom-color: $--color-info;
  }
  .el-dropdown-menu__item {
    color: $--color-white;

    &:hover,
    &:focus {
      background: mix($--color-white, $--color-info, $--button-hover-tint-percent);
      border-color: mix($--color-white, $--color-info, $--button-hover-tint-percent);
      color: $--color-white;
    }
  }
}
.el-form_error_rl {
  .el-form-item__error {
    position: relative;
  }
}
