@import 'variables';

:root {
  --dark_red: rgb(205, 0, 0);
  --grey: #777;
  --light_grey: #eee;
  --light_red: rgb(255, 68, 68);
  --active_icon_color: white;
  --button_shadow: rgba(0, 0, 0, 0.1);
  --inactive_icon_color: #999;
  --level_animation_color: #dbdbdb;
  --listening_icon_color: var(--light_red);
  --text_link_color: rgb(17, 85, 204);
  --s-theme-color: #{$theme-color};
  --s-theme-color--light: #{lighten($theme-color, 10%)};
  --s-theme-color--dark: #{darken($theme-color, 10%)};
  --s-theme-text-color: hsla(0, 0%, 100%, 1);
  --s-theme-text-color--light: hsla(0, 0%, 100%, 0.7);
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

//
// panel
//
.panel {
  border: 1px solid #eeeeee;

  &.no-border {
    border: none;
  }

  & + .panel {
    margin-top: 15px;
  }
}

.panel-body {
  padding: 15px;

  & + .panel-body {
    padding-top: 0;
  }
}

.panel-header {
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
}

.panel-title {
  font-weight: bold;
  margin-bottom: 10px;
}

//
// menu
//
.menu-normal {
  .is-active .el-submenu__title,
  .el-submenu__title:hover,
  .el-menu-item.is-active,
  .el-menu-item:hover,
  .el-menu-item:focus {
    background-color: transparent;
    font-weight: bold;
    color: $theme-color;
  }
}

.menu-link {
  padding: 0;

  > a {
    padding: 0 20px;
    height: 100%;
    display: block;
    text-decoration: none !important;
  }
}

//
// navigation
//
.navbar-logo {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  > .logo {
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    color: var(--light_grey);
    text-decoration: none;

    &:visited {
      color: var(--light_grey);
    }
  }
}

.navbar-header .el-menu.el-menu--horizontal {
  border-bottom: none;
}

.logo-svg {
  height: 40px;
  margin-top: 10px;

  .rect,
  .edge-2,
  .text {
    fill: #3e3a39;
  }

  .rect {
    fill-opacity: 0;
  }

  .edge-1 {
    fill: #0071bc;
  }
}

.nav-darken .el-menu .el-menu-item {
  color: white;
  background-color: $nav-darken-bg;
}

.nav-white .el-menu .el-menu-item {
  color: var(--s-theme-color--dark);
}

.nav-darken {
  .el-menu .el-menu-item:hover,
  .el-menu .el-menu-item:focus {
    color: white;
    background-color: $nav-darken-bg-over;
  }

  .logo-svg {
    .text {
      fill: var(--light_grey);
    }
  }
}

.nav-white {
  box-shadow: 0 0 2px #e4e4e4;

  .el-menu .el-menu-item:hover,
  .el-menu .el-menu-item:focus {
    color: var(--s-theme-color--dark);
  }

  .logo-svg {
    .text {
      fill: #3e3a39;
    }
  }
}

//
// application
//
.app-container {
  flex-direction: column;
  min-height: 100vh;

  .el-header {
    padding: 0;
    background-color: $nav-darken-bg;
  }
}

//
// index
//
section {
  .section-title {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 16px;
  }

  .container {
    padding-bottom: 50px;
  }
}

.bg {
  background-color: #f7f9f9;

  &.inset {
    position: relative;

    &::after,
    &::before {
      content: ' ';
      width: 100%;
      position: absolute;
      height: 8px;
      left: 0;
    }

    &::before {
      top: 0;
      box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0 8px 8px -8px rgba(0, 0, 0, 0.06) inset;
    }

    &::after {
      bottom: 0;
      box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0 -8px 8px -8px rgba(0, 0, 0, 0.06) inset;
    }
  }
}

.header-banner {
  padding: 3rem 0;
  min-height: 20vh;
  height: 240px;
  align-items: center;
}
