@import 'variables';

.container-fluid {
  width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

//
// panel
//
.panel {
  border: 1px solid #eeeeee;

  &.no-border {
    border: none;
  }

  & + .panel {
    margin-top: 15px;
  }
}

.panel-body {
  padding: 15px;

  & + .panel-body {
    padding-top: 0;
  }
}

.panel-header {
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
}

.panel-title {
  font-weight: bold;
  margin-bottom: 10px;
}

//
// menu
//
.menu-normal {
  .is-active .el-submenu__title,
  .el-menu-item.is-active {
    font-weight: bold;
  }
  .is-active .el-submenu__title,
  .el-submenu__title:hover,
  .el-menu-item.is-active,
  .el-menu-item:hover,
  .el-menu-item:focus {
    background-color: transparent;
    color: $theme-color;
  }
}

.menu-link {
  padding: 0;

  > a {
    padding: 0 20px;
    height: 100%;
    display: block;
    text-decoration: none !important;
  }
}

//
// navigation
//
.navbar-logo {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  > .logo {
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    color: var(--light_grey);
    text-decoration: none;

    &:visited {
      color: var(--light_grey);
    }
  }
}

.navbar-header .el-menu.el-menu--horizontal {
  border-bottom: none;
}

.nav-darken .el-menu .el-menu-item {
  color: white;
  background-color: $nav-darken-bg;
}

.nav-white .el-menu .el-menu-item {
  color: var(--s-theme-color--dark);
}

.nav-darken {
  .el-menu .el-menu-item:hover,
  .el-menu .el-menu-item:focus {
    color: white;
    background-color: $nav-darken-bg-over;
  }
}

.nav-white {
  box-shadow: 0 0 2px #e4e4e4;

  .el-menu .el-menu-item:hover,
  .el-menu .el-menu-item:focus {
    color: var(--s-theme-color--dark);
  }

  .logo-png {
    color: var(--s-theme-color--dark);
  }
}

//
// application
//
.app-container {
  flex-direction: column;
  min-height: 100vh;

  .el-header {
    padding: 0;
    background-color: $nav-darken-bg;
  }
}

//
// index
//
section {
  .section-title {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 16px;
  }

  .sub-title {
    color: #cccccc;
    font-size: 1em;
  }

  .container {
    padding-bottom: 50px;
  }

  .section-border {
    @extend .section-title;

    position: relative;
    z-index: 1;
    padding-bottom: 40px;

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      z-index: -1;
      width: 80%;
      height: calc(100% - 120px);
      left: 10%;
      top: 60px;
      border: 2px solid #eeeeee;
    }
  }
}

.bg {
  background-color: #f7f9f9;

  &.inset {
    position: relative;

    &::after,
    &::before {
      content: ' ';
      width: 100%;
      position: absolute;
      height: 8px;
      left: 0;
    }

    &::before {
      top: 0;
      box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0 8px 8px -8px rgba(0, 0, 0, 0.06) inset;
    }

    &::after {
      bottom: 0;
      box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0 -8px 8px -8px rgba(0, 0, 0, 0.06) inset;
    }
  }
}

.header-banner {
  padding: 3rem 0;
  min-height: 20vh;
  height: 240px;
  align-items: center;
}

//
// marked
//
.marked-p > p:first-child {
  margin-top: 4px;
}
