@import 'variables';
@import './assets/element-ui-build/mixins';

.container-fluid {
  width: 100%;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

//
// card
//
.card {
  border: 1px solid #eeeeee;

  &.no-border {
    border: none;
  }

  & + .card {
    margin-top: 15px;
  }
}

.card-body {
  padding: 15px;

  & + .card-body {
    padding-top: 0;
  }
}

.card-header {
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-footer {
  padding: 15px;
  border-top: 1px solid #eeeeee;
  text-align: right;
}

//
// menu
//

.menu-link {
  padding: 0;

  > a {
    padding: 0 20px;
    height: 100%;
    display: block;
    text-decoration: none !important;
  }
}

@include res(xs-only, $--breakpoints-spec) {
  .el-menu-item {
    padding-left: 10px;
    padding-right: 10px;

    &.menu-link {
      padding: 0;
    }
  }
  .menu-link > a {
    padding: 0 10px;
  }
}

.el-menu-item-blank {
  padding: 0;

  > a {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
  }
}

//
// navigation
//
.navbar-logo {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  > .logo {
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}

.navbar-header .el-menu.el-menu--horizontal {
  border-bottom: none;
}

//
// application
//

.app-container {
  flex-direction: column;
  min-height: 100vh;

  > .el-header {
    padding: 0;
    background-color: $nav-darken-bg;
  }
  > .el-main {
    height: calc(100vh - 60px);
  }
}

//
// index
//
section {
  .section-title {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 16px;
  }

  .sub-title {
    color: #cccccc;
    font-size: 1em;
  }

  .container {
    padding-bottom: 50px;
  }

  .section-border {
    @extend .section-title;

    position: relative;
    z-index: 1;
    padding-bottom: 40px;

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      z-index: -1;
      width: 80%;
      height: calc(100% - 120px);
      left: 10%;
      top: 60px;
      border: 2px solid #eeeeee;
    }
  }

  @include res(xs-only, $--breakpoints-spec) {
    .section-title {
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }
}

.bg {
  background-color: #f7f9f9;

  &.inset {
    position: relative;

    &::after,
    &::before {
      content: ' ';
      width: 100%;
      position: absolute;
      height: 8px;
      left: 0;
    }

    &::before {
      top: 0;
      box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0 8px 8px -8px rgba(0, 0, 0, 0.06) inset;
    }

    &::after {
      bottom: 0;
      box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0 -8px 8px -8px rgba(0, 0, 0, 0.06) inset;
    }
  }
}

.header-banner {
  padding: 3rem 0;
  min-height: 20vh;
  height: 240px;
  align-items: center;
}

.el-main .table-box {
  display: flex;
  flex: 1;

  > .table,
  > .el-table {
    display: flex;
    flex: 1 1 100%;
    overflow-y: auto;
    flex-direction: column;

    &::before {
      background-color: transparent;
    }

    .el-table__body-wrapper {
      flex: 1 1 100%;
      overflow-y: auto;
    }

    .el-table__header-wrapper {
      flex: 0 0 auto;
    }
  }
}
