@import 'variables';

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark_red: rgb(205, 0, 0);
  --grey: #777;
  --light_grey: #eee;
  --light_red: rgb(255, 68, 68);
  --active_icon_color: white;
  --button_shadow: rgba(0, 0, 0, 0.1);
  --inactive_icon_color: #999;
  --level_animation_color: #dbdbdb;
  --listening_icon_color: var(--light_red);
  --text_link_color: rgb(17, 85, 204);
  --s-theme-color: #{$theme-color};
  --s-theme-color--light: #{lighten($theme-color, 10%)};
  --s-theme-color--dark: #{darken($theme-color, 10%)};
  --s-theme-text-color: hsla(0, 0%, 100%, 1);
  --s-theme-text-color--light: hsla(0, 0%, 100%, 0.7);
}

.nuxt-progress {
  background-color: transparent !important;

  &::after,
  &::before {
    content: '';
    background: linear-gradient(-135deg, #1de9b6 0%, #409eff 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
  }

  &::before {
    animation: m_s 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  }

  &::after {
    animation: m_s 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
  }
}

@keyframes m_s {
  0% {
    left: -100%;
    right: 100%;
  }
  80% {
    left: 100%;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@import 'element';
@import 'layout';
@import 'common';
@import '../iconfont/iconfont.css';
@import '../feather/css/feather.css';
@import 'other';
