$theme-color: #33335b;
$theme-a-color: #23527c;
$nav-darken-bg: #545c64;
$nav-darken-bg-over: rgb(67, 74, 80);

$--button-dark-font-color: #ffffff !default;
$--button-dark-background-color: #303030 !default;
$--button-dark-border-color: #111 !default;
