@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot?t=1610692684607'); /* IE9 */
  src: url('iconfont.eot?t=1610692684607#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABoQAAAJfAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEDATYCJAMICwYABCAFhG0HOxu0BRHVi1myP0IcYztgqQWAVI9ZT3sZE2w5jbojZSMbDnUXdT9QFPwaJAAAAABABI9rn/OS7L8coSIsKLTEJDyqVrnKygpV4cACCrk9wSMEqAHifJnlg8NHHyxEDGmm6fh65f7uAVdHpjYnhykJ8AKf0NHSqQZ2srkZukZFGKbkPPhfviMdC0jzKwD+uHf6J9AHab3zLsc5F/0LMA6kgPbGKLIiibxh7CaCB/iYQI9p68WuPYdOqQqwKhCP7t+9rhb8iuKkqtBpOFjEe42a3qbxjn8/ftsQlaTJQMWxO7tv2fYdzMi3u0QRAYJxvEHGehTiVGP8iCwcKuuJF/McqzT4rm2pURxVJ5y/DhT3gUmd/0wCLHxU7gQKo1nE6iQPuQ/Mf/jRmb3lJttpKt9coZ/LKto/bkzI/xL+hXmmVJXf9Tu2gbZkTiB4fHYdVwe9WsCXDPe2FYY5qXt1BH9HMJBWYhEwpBIKGtPJonzWlh49aDHdI75NVY/fSjpU4zfk7DKVWbMaC3S0kOuh0WsTdFRbocc6e4/3GvVCFqUba73UIAz5AMmAT5AN+YwW8is0JvyFjqHI0ONMcGGv5SDviwklowH1h6CPapGJhSi9oXtnSXkRZ7yQWgjBPEzl1I4VaYkt7eMWZguWjgKb9hzmfMBJR0TNg2c+13G0TW8a9FE6YULJaED9IeijWjqYReXzN3TvLKmjZ8T7QmphfJiHaQC6y+ugnkd5pX3cwmzB0lFg0+ZhzgeczfMiah78hOi5jrCfHSoftleWvzsEPYAmBbRmPVp1OFto/QfpS3wydx0A')
      format('woff2'),
    url('iconfont.woff?t=1610692684607') format('woff'), url('iconfont.ttf?t=1610692684607') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont.svg?t=1610692684607#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ellipsis-vertical:before {
  content: '\e76a';
}
