@font-face {
  font-family: 'iconfont'; /* Project id 2326583 */
  src: url('iconfont.woff2?t=1629903904379') format('woff2'), url('iconfont.woff?t=1629903904379') format('woff'),
    url('iconfont.ttf?t=1629903904379') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eraser:before {
  content: '\e6e3';
}
